:root {
  /* Variables */
  --mainColor-pink: #f89cab;
  --mainColor-darkPurple: #632ace;
  --mainColor-darkPink: #f84563;
  --mainColor-grey: rgba(128, 128, 128, 0.048);
  --mainColor-blue: rgb(140, 232, 255);
  --box-shadow: 1px 1px 15px rgb(224, 224, 224);
  --sectionBorder-Color: rgb(255, 255, 255);
}

/* General Styling */
.pointer:hover {
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
}
section,
article {
  /* VARIABLE */
  padding-inline: min(7vw, 5rem);
  margin-block: 8rem;
}
header {
  padding-inline: min(7vw, 5rem);
}
button {
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
}
input {
  border-radius: 0.3rem;
}
nav {
  margin-block: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--sectionBorder-Color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: min(4vw, 5rem);
  position: relative;
}
a {
  text-decoration: none;
}

.mainCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.itemCont {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Landing Screen */
.cross {
  display: none;
  position: absolute;
  right: 0;
  height: 2rem;
  width: 2rem;
}
.anim {
  animation: spin 0.5s ease-in-out infinite;
}
.menu {
  width: 3rem;
  height: 3rem;
}
.navItemCont {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  float: right;
  right: 0;
  top: 0;
}
.navItemCont h5,
.navItemCont img {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {
  display: block;
}
.landingCont {
  padding: min(7vw, 6rem);
  background-color: var(--mainColor-pink);
}
#landingScreen {
  padding-inline: min(2vw, 2rem);
  margin: 0;
  margin-bottom: 5rem;
}
.landingDesc {
  max-width: min(30vw, 100rem);
}
.regBtn {
  background-color: var(--mainColor-darkPink);
  border: none;
  padding: clamp(0.8rem, 2vw, 2rem);
  padding-inline: clamp(3rem, 6vw, 9rem);
  border-radius: 0.4rem;
  transition: 0.5s;
}
.regBtn:hover {
  color: var(--mainColor-darkPink);
  background: none !important;
  border: 4px solid var(--mainColor-darkPink);
}
.imgContainer {
  display: flex;
  justify-content: center;
}

/* prices */
.prices-itemCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pricesItem {
  background-color: var(--mainColor-grey);
  padding: clamp(0.5rem, 1.5vw, 3rem);
  margin: clamp(1.2rem, 3.5vw, 4.5rem) clamp(0.5rem, 1vw, 2rem);
  max-width: clamp(18rem, 22vw, 35rem);
  position: relative;
  transition: 0.5s;
}
.pricesItem:hover .overlay {
  background-color: var(--mainColor-darkPink);
  opacity: 20%;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.itemSub {
  padding: clamp(4rem, 6vw, 10rem) clamp(7rem, 10vw, 15rem);
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  max-width: clamp(14rem, 19vw, 30rem);
}
.item-1 {
  background-image: url(../images/p1.png);
}
.item-2 {
  background-image: url(../images/p2.png);
}
.item-3 {
  background-image: url(../images/p3.png);
}
.item-4 {
  background-image: url(../images/p4.png);
}
.item-5 {
  background-image: url(../images/p5.png);
}
.item-6 {
  background-image: url(../images/p6.png);
}
.item-7 {
  background-image: url(../images/p7.png);
}
.item-8 {
  background-image: url(../images/p8.png);
}
.pricesBtn {
  margin: 0 auto;
}
.pricesNew {
  background-color: white;
  width: clamp(3rem, 5vw, 7rem);
  height: clamp(3rem, 5vw, 7rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
}
.pricesItem-secCont {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.overlay {
  display: none;
  transition: 0.3s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pricesItem-secCont > h5,
h3 {
  margin: 0;
}

/* savings */
.savingsCont {
  background-color: var(--mainColor-blue);
  border-radius: 1rem;
  padding-top: 2rem;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mainDesc {
  max-width: clamp(15rem, 30vw, 100rem);
}
.savingsTextCont {
  padding: min(7vw, 6rem);
}
.savingsBtn {
  border: none;
  padding: clamp(0.8rem, 2vw, 2rem);
  padding-inline: clamp(2rem, 4.5vw, 6rem);
  border-radius: 0.4rem;
  transition: 0.5s;
}
.btnCont {
  display: flex;
  column-gap: 1rem;
}
.blue {
  background-color: rgb(0, 110, 255);
}
.blue:hover {
  color: blue;
  background: none !important;
  border: 4px solid blue;
  font-weight: 800;
}
.white {
  background-color: white;
  color: black;
}
.white:hover {
  color: white;
  background: none !important;
  border: 4px solid white;
  font-weight: 800;
}
.purple {
  background-color: #8752e9;
}
.purple:hover {
  font-weight: 800;
  color: var(--mainColor-pink);
  background: none !important;
  border: 4px solid var(--mainColor-pink);
}
.savingsImg {
  max-width: clamp(20rem, 45vw, 80rem);
}

/* About us */
.aboutItem {
  margin: clamp(1rem, 2vw, 3rem);
  padding: clamp(2rem, 4vw, 6rem);
  padding-inline: clamp(3rem, 6vw, 9rem);
  background-color: var(--mainColor-grey);
}
.aboutImg {
  width: clamp(3rem, 6vw, 9rem);
  filter: invert(19%) sepia(75%) saturate(3603%) hue-rotate(256deg)
    brightness(84%) contrast(99%);
}
/* .aboutDesc {
  max-width: clamp(12rem, 24vw, 30rem);
  text-align: center;
} */

/* gifts */
.giftsCont {
  background-color: var(--mainColor-darkPurple);
  padding: clamp(2rem, 4vw, 6rem);
  padding-block: clamp(3rem, 6vw, 9rem);
  border-radius: clamp(1rem, 2vw, 3rem);
}

/* contact */
.inputCont {
  padding: 1rem;
  padding-block: 2rem;
  box-shadow: var(--box-shadow);
}
.contactInput {
  height: 2.5rem;
  width: 75%;
  margin: 0 auto;
  margin-block: 1rem;
  padding: 1rem;
}
.contactBtn {
  margin-top: 2rem;
  margin-inline: auto;
}

/* reviews */
.reviewItem {
  box-shadow: var(--box-shadow);
  padding: clamp(2rem, 4vw, 6rem) clamp(1rem, 2vw, 3rem);
  text-align: start;
  margin-inline: clamp(1rem, 2vw, 10rem);
}

/* Footer */
footer {
  background-color: rgb(43, 43, 43);
}
.footerCont {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  padding-inline: 1.5rem;
  padding-top: 4rem;
}
.footer-SM-Cont {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.footer-SM-Cont > a {
  color: white;
  height: clamp(3rem, 6vw, 9rem);
  width: clamp(3rem, 6vw, 9rem);
  font-size: clamp(1.5rem, 3.5vw, 5rem);
}
.footerNewsCont {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.footerContactItem {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footerMainCont {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  align-items: center;
}
.footerBottom {
  padding: 1rem;
  background-color: rgb(43, 43, 43);
  border-top: 1px solid var(--sectionBorder-Color);
  margin-inline: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}
.footerInput {
  max-width: 60%;
  margin: 0 auto;
  height: 2rem;
}
.footerBtn {
  height: 2.5rem;
  padding-inline: 1rem;
  background-color: var(--mainColor-pink);
  border: none;
  margin-inline: 5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
    opacity: 0%;
  }
}
